@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import './header.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/* For header moving tests */
body {
    height: 300vh;
}